
<h1>My First Google Map</h1>
<a href="/twitch"> Voir la magnifique Twitch TV </a>

<%= form_tag "/", method: "post" do %>

  <input type="text" name="latitude" placeholder="latitude" />
  <input type="text" name="longitude" placeholder="longitude"  />
  <input type="text" name="message" placeholder="message" />


  <input type="submit" value="Ajouter les coordonnées" />

<% end %>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {
  var myCenter = new google.maps.LatLng(<%= @latitude %>,<%= @longitude %>);
  var mapCanvas = document.getElementById("googleMap");
  var mapOptions = {center: myCenter, zoom: 5};
  var pointName = "<%= @message %>"
  var map = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter, title: pointName});
  marker.setMap(map);
  var contenuInfoBulle1 = '<%= @message %>';
  var infoBulle1 = new google.maps.InfoWindow({
    content: contenuInfoBulle1
})
  marker.addListener('click', function() {
          map.setZoom(8);
          infoBulle1.open(googleMap, marker);
        });
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfWy7QTATyPLXdmnTTeqBJrQjYai8-RS4&callback=myMap"></script>
